.bibtex-manager-search {
	width: calc(100% - 20px);
}

.bibtex-manager-template {
	width: 100%;
}

.bibtex-manager-template-container {
	border: 0;
}

.bibtex-manager-template-container .setting-item-info {
	display: none;
}

.bibtex-manager-template {
	width: 100%;
	min-height: 200px;
}
